In [137]:
import pandas as pd

In [138]:
file_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv'
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
df = pd.read_csv(file_path, names= headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [140]:
df.size
df.shape
df.info()
df.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

symboling            205
normalized-losses    205
make                 205
fuel-type            205
aspiration           205
num-of-doors         205
body-style           205
drive-wheels         205
engine-location      205
wheel-base           205
length               205
width                205
height               205
curb-weight          205
engine-type          205
num-of-cylinders     205
engine-size          205
fuel-system          205
bore                 205
stroke               205
compression-ratio    205
horsepower           205
peak-rpm             205
city-mpg             205
highway-mpg          205
price                205
dtype: int64

In [141]:
import numpy as np
df.replace('?', np.NaN, inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Dealing with missing data

In [142]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(missing_data[column].value_counts())

False    205
Name: symboling, dtype: int64
False    164
True      41
Name: normalized-losses, dtype: int64
False    205
Name: make, dtype: int64
False    205
Name: fuel-type, dtype: int64
False    205
Name: aspiration, dtype: int64
False    203
True       2
Name: num-of-doors, dtype: int64
False    205
Name: body-style, dtype: int64
False    205
Name: drive-wheels, dtype: int64
False    205
Name: engine-location, dtype: int64
False    205
Name: wheel-base, dtype: int64
False    205
Name: length, dtype: int64
False    205
Name: width, dtype: int64
False    205
Name: height, dtype: int64
False    205
Name: curb-weight, dtype: int64
False    205
Name: engine-type, dtype: int64
False    205
Name: num-of-cylinders, dtype: int64
False    205
Name: engine-size, dtype: int64
False    205
Name: fuel-system, dtype: int64
False    201
True       4
Name: bore, dtype: int64
False    201
True       4
Name: stroke, dtype: int64
False    205
Name: compression-ratio, dtype: int64
False    203
True       2
Name: horsepower, dtype: int64
False    203
True       2
Name: peak-rpm, dtype: int64
False    205
Name: city-mpg, dtype: int64
False    205
Name: highway-mpg, dtype: int64
False    201
True       4
Name: price, dtype: int64

In [100]:
avg_mean = df['normalized-losses'].astype('float').mean(axis=0)
avg_mean

122.0

In [101]:
avg_bore = df['bore'].astype('float').mean(axis=0)
avg_bore

3.3297512437810957

In [102]:
avg_stroke = df['stroke'].astype('float').mean(axis=0)
avg_stroke

3.2554228855721337

In [103]:
avg_comp = df['compression-ratio'].astype('float').mean(axis=0)
avg_comp

10.142536585365855

In [104]:
avg_hp =df['horsepower'].astype('float').mean(axis=0)
avg_hp

104.25615763546799

In [105]:
avg_rpm = df['peak-rpm'].astype('float').mean(axis=0)
avg_rpm

5125.369458128079

In [106]:
nod_max= df['num-of-doors'].value_counts().idxmax()

In [107]:
df['num-of-doors'].replace(np.NaN, nod_max, inplace=True )

In [108]:
df['normalized-losses'].replace(np.NaN, avg_mean, inplace=True)

In [109]:
df['bore'].replace(np.NaN, avg_bore, inplace=True)

In [110]:
df['stroke'].replace(np.NaN, avg_stroke, inplace=True)

In [111]:
df['compression-ratio'].replace(np.NaN, avg_comp, inplace=True)

In [112]:
df['horsepower'].replace(np.NaN, avg_hp, inplace=True)

In [113]:
df['peak-rpm'].replace(np.NaN, avg_rpm, inplace=True)

In [114]:
df.dropna(subset=['price'], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [47]:
missing_data = df.isnull()
for column in missing_data.columns.values.tolist():
    print(missing_data[column].value_counts())

False    201
Name: symboling, dtype: int64
False    201
Name: normalized-losses, dtype: int64
False    201
Name: make, dtype: int64
False    201
Name: fuel-type, dtype: int64
False    201
Name: aspiration, dtype: int64
False    201
Name: num-of-doors, dtype: int64
False    201
Name: body-style, dtype: int64
False    201
Name: drive-wheels, dtype: int64
False    201
Name: engine-location, dtype: int64
False    201
Name: wheel-base, dtype: int64
False    201
Name: length, dtype: int64
False    201
Name: width, dtype: int64
False    201
Name: height, dtype: int64
False    201
Name: curb-weight, dtype: int64
False    201
Name: engine-type, dtype: int64
False    201
Name: num-of-cylinders, dtype: int64
False    201
Name: engine-size, dtype: int64
False    201
Name: fuel-system, dtype: int64
False    201
Name: bore, dtype: int64
False    201
Name: stroke, dtype: int64
False    201
Name: compression-ratio, dtype: int64
False    201
Name: horsepower, dtype: int64
False    201
Name: peak-rpm, dtype: int64
False    201
Name: city-mpg, dtype: int64
False    201
Name: highway-mpg, dtype: int64
False    201
Name: price, dtype: int64

In [115]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Checking for correct data types

In [116]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [117]:
df[['normalized-losses', 'horsepower']] = df[['normalized-losses', 'horsepower']].astype('int')
df[['peak-rpm']] = df[['peak-rpm']].astype('int')
df[['bore', 'stroke']] = df[['bore', 'stroke']].astype('float')
df[['price']] = df[['price']].astype('int')

In [118]:
df.dtypes

symboling              int64
normalized-losses      int64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int64
peak-rpm               int64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [119]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

#### Data Normalization

In [120]:
df['height'] = df['height'] / df['height'] .max()
df['height']

0      0.816054
1      0.816054
2      0.876254
3      0.908027
4      0.908027
         ...
196    0.928094
197    0.928094
198    0.928094
199    0.928094
200    0.928094
Name: height, Length: 201, dtype: float64

In [121]:
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

In [122]:
df[['length', 'width', 'height']].head(n=5)

     length     width    height
0  0.811148  0.890278  0.816054
1  0.811148  0.890278  0.816054
2  0.822681  0.909722  0.876254
3  0.848630  0.919444  0.908027
4  0.848630  0.922222  0.908027

#### Dummy Variable creation

In [123]:
dummy_var_ft = pd.get_dummies(df['fuel-type'])
dummy_var_ft.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [124]:
dummy_var_ft.rename(columns={'diesel':'fuel-type-diesel', 'gas': 'fuel-type-gas'}, inplace=True)
df= pd.concat([df, dummy_var_ft], axis=1)

In [125]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495,0,1
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500,0,1
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500,0,1
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950,0,1
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450,0,1

In [126]:
df.drop('fuel-type', axis=1, inplace=True)

In [128]:
df.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas
0,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,3.47,2.68,9.0,111,5000,21,27,13495,0,1
1,3,122,alfa-romero,std,two,convertible,rwd,front,88.6,0.811148,...,3.47,2.68,9.0,111,5000,21,27,16500,0,1
2,1,122,alfa-romero,std,two,hatchback,rwd,front,94.5,0.822681,...,2.68,3.47,9.0,154,5000,19,26,16500,0,1
3,2,164,audi,std,four,sedan,fwd,front,99.8,0.848630,...,3.19,3.40,10.0,102,5500,24,30,13950,0,1
4,2,164,audi,std,four,sedan,4wd,front,99.4,0.848630,...,3.19,3.40,8.0,115,5500,18,22,17450,0,1

In [130]:
dummy_var_as = pd.get_dummies(df['aspiration'])
dummy_var_as.head()
dummy_var_as.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)
df= pd.concat([df, dummy_var_as], axis=1)
df.drop('aspiration', axis=1, inplace=True)
df.head()

,symboling,normalized-losses,make,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,fuel-type-diesel,fuel-type-gas,aspiration-std,aspiration-turbo
0,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,9.0,111,5000,21,27,13495,0,1,1,0
1,3,122,alfa-romero,two,convertible,rwd,front,88.6,0.811148,0.890278,...,9.0,111,5000,21,27,16500,0,1,1,0
2,1,122,alfa-romero,two,hatchback,rwd,front,94.5,0.822681,0.909722,...,9.0,154,5000,19,26,16500,0,1,1,0
3,2,164,audi,four,sedan,fwd,front,99.8,0.848630,0.919444,...,10.0,102,5500,24,30,13950,0,1,1,0
4,2,164,audi,four,sedan,4wd,front,99.4,0.848630,0.922222,...,8.0,115,5500,18,22,17450,0,1,1,0

In [131]:
df.to_csv('car_values.csv')